Source: depinject
Section: admin
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/Like-all/depinject

Package: depinject
Architecture: all
Depends: python-apt
Description: dependency injection system
